/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --site-background: #8ecae6;
  --title-color: #023047;
  --section-title: #023047;
  --text-background: #219ebc;
  --article-text: #023047;
  --article-title: #023047;
  --background-url: url(../images/cover-image-light.png);
  --display: none;
}
